html {
    scroll-behavior: smooth;
}

/* copyright */
footer {
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

/* login-page */

.container {
    background: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontal center */
    text-align: center;
    /* Center inline text like <h1> and <p> */
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.input-box {
    width: 100%;
    margin: 15px 0;
    display: flex;
}

.input-box input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #104c8b;
    transition: 0.3s;
}

.feather {
    width: 32px;
    height: 32px;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

/* home */

body {
    padding: 0;
    margin: 0;
}

.web-container {
    display: flex;
    flex-direction: row;
}

/* sidebar */

.logo {
    width: 100%;
    max-height: 150px;
}

.side-bar {
    position: fixed;
    height: 100vh;
    background-color: rgb(216, 231, 226);
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu {
    flex-grow: 1;
}

.menu-bar ul li {
    font-size: x-large;
    margin-left: 5px;
    margin-top: 30px;
    padding-left: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.menu-bar ul li {
    margin-bottom: 20px;
}

.profile ul {
    padding: 0;
    margin: 0;
    font-size: larger;
    margin-left: 55px;
    margin-bottom: 30px;
}

.profile ul li a {
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.profile ul li {
    margin-top: 10px;
}

.menu-bar ul li a:hover {
    cursor: pointer;
    background-color: rgb(192, 217, 209);
    border-radius: 10px;
    background-size: 15px;
    padding: 10px 15px;
    text-decoration: underline;
    transition: 0.6s;
}

.profile ul li a:hover {
    cursor: pointer;
    background-color: rgb(192, 217, 209);
    border-radius: 10px;
    background-size: 15px;
    padding: 10px 15px;
    text-decoration: underline;
    transition: 0.6s;
}

.feather {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

ul li text {
    margin-bottom: 4px;
}

/* home-page */

.home-page {
    margin-left: 250px;
    padding: 0px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
}

/* slider */


.slider {
    position: relative;
    width: 98%;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides {
    display: flex;
    transition: transform 1.5s ease-in-out;
    width: 100%;
    height: 100%;
}


button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
    border-radius: 50px;
}

button.next {
    right: 10px;
    border-radius: 40px;
}

/* top-dishes */

.home-page h1 {
    margin-left: 25px;
}

.top-dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.dish {
    flex: 1 1 calc(20% - 16px);
    box-sizing: border-box;
    max-width: calc(20% - 16px);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.dish img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
}

.dish:hover {
    transform: translate(5px, -5px);
    transition: 0.5s;
    cursor: pointer;
}

.detail-place,
.detail ,
.detail-price{
    margin-top: 15px;
}

.dish .detail,
.dish .detail-place,
.detail-price {
    color: rgba(0, 0, 0, 0.5);
}

.dish-name {
    margin: 4px 0;
    font-weight: bold;
}

.detail{
    margin: 2px 0;
    font-size: 14px;
}

.detail-rating {
    color: #ffaa00;
    margin-top: -1px;
}

/* cart */

.cart-page {
    margin-left: 250px;
}

.cart-controls {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.cart-controls button {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.cart-controls button:hover {
    background-color: #0056b3;
}


.dish p {
    font-size: larger;
    margin-bottom: 1px;
}




table {
    width: 109%;
    margin: 0 auto;
    margin-left: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.confirm-btn {
    display: block;
    margin: 20px 500px;
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-btn:hover {
    background-color: #218838;
}

.empty-cart {
    margin-left: 315px;
    font-size: 1.2rem;
    color: #888;
}